<link rel="stylesheet" href="main.css">
<div class="row">
  <section class="main col-md-9">
    <item>
      <div class="row">
        <div class="col-4">
          <h2>Subash Store</h2>
          <img
          src= "https://i.ibb.co/bv8FgGb/depositphotos-44001907-stock-photo-supermarket-cart.jpg"
            alt="feature Image"
            style="width:100%"
          />

        </div>

        <div class="col-8"><br />
          <br />
          <div class="row">
            <div class="col-12">
             Subash Store is a leading online retail destination that caters to the diverse needs of customers worldwide. Offering a vast array of products, from electronics and fashion to home essentials and more, Subash Store has become a one-stop-shop for convenience and quality. With a user-friendly interface and secure payment options, customers can easily browse and purchase their desired items from the comfort of their homes. Committed to exceptional customer service, Subash Store prides itself on timely deliveries and hassle-free returns, ensuring a seamless shopping experience for every user. Whether it's the latest gadgets, trendy apparel, or everyday essentials, Subash Store continues to redefine online shopping with its extensive range and exceptional services.              <br /><br />
             <strong>Lawnmower</strong> <br>
              <strong>Price:</strong>
              $ 9.99<br />
              <strong>Category:</strong>
              3<br />
              <strong>Last Updated:</strong>
              07/20/2023
            </div>
          </div>
        </div>
      </div>
    </item>
  </section>

  <aside class="col-md-3">
    <br /><br />
    <h4>Items</h4>

    <ul class="list-group">
      <a href="/items?category=1" class="list-group-item">Item 1</a>
      <a href="/items?category=2" class="list-group-item">Item 2</a>
      
    </ul>

    <h4>Categories</h4>

    <ul class="list-group">
      <a href="/items?category=1"class="list-group-item">Category 1</a>
      <a href="/items?category=2" class="list-group-item">Category 2</a>
      
    </ul>
  </aside>
</div>